---
import { Icon } from "astro-icon";

import Link from "./ui/Link.astro";
const today = new Date();
import { SITE_MISSION, SOCIALS } from "../consts";
import FooterLinks from "../data/footerLinks";
---

<footer
  class="container py-6 md:py-10 flex flex-wrap gap-8 items-start text-arg-dark justify-between"
>
  <div class="grid gap-2 max-w-xs">
    <Icon name="logo-horizontal-no-logomark" class="w-64 sm:w-80" />
    <p>
      &copy; {today.getFullYear()} Joe Previte <span>
        (<Link
          href="https://twitter.com/joseprevite"
          type={"dark"}
          underlined={false}
        >
          @joseprevite
        </Link>)
      </span>
    </p>
    <p>{SITE_MISSION}</p>
    <div class="flex items-center gap-2">
      {
        SOCIALS.map((s) => (
          <Link href={s.url} type={"dark"}>
            <Icon name={s.icon} class="w-5 h-5" width="24" />
          </Link>
        ))
      }
      <Link
        href="/rss.xml"
        type={"dark"}
        underlined={false}
        classes="text-4xl"
        aria-label="Subscribe to RSS feed"
      >
        <Icon name="rss" class="w-5 h-5" />
      </Link>
    </div>
  </div>
  <div
    class="flex flex-wrap w-full md:w-auto xs:justify-between gap-6 lg:gap-12"
  >
    {
      FooterLinks.map((section) => (
        <div class="grid gap-2 basis-full xs:basis-auto">
          <p class="uppercase">
            <strong>{section.title}</strong>
          </p>
          <ul class="grid gap-1">
            {section.items.map((i) => (
              <li>
                {i.href !== "#" ? (
                  <Link href={i.href} type={"dark"}>
                    {i.title}
                  </Link>
                ) : (
                  <p
                    class="cursor-pointer"
                    onclick="
                    alert('Coming soon')
                    "
                  >
                    {i.title}
                  </p>
                )}
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</footer>
